<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_alfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_benz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{98,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_bmw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_fiat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{98,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_lambo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{90,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{90,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_landrover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{100,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_mazda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{100,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_porsche.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{76,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{76,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_saab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_skoda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{98,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_toyota.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{96,68}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{96,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_volvo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{100,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>n_vw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cars.png</string>
            <key>size</key>
            <string>{104,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f107c879891b2cc6bdc6473a2c1327c:33bc2fc9acf4c3f3022f42506493594f:f65cfb0a0d7ae65d748755d460dafa4a$</string>
            <key>textureFileName</key>
            <string>cars.png</string>
        </dict>
    </dict>
</plist>
